body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #e0ff43; 
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b1c935; 
  padding: 10px;
  border-radius: 8px;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  color: black;
  margin: 10;
}

.logo {
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
}

.form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #b1c935; 
}

label {
  display: block;
  margin-bottom: 8px;
  color: black;
}

input,
select,
textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #e0ff43; 
  color: black;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

.grua-list li {
  border: 1px solid #b1c935;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e0ff43; 
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  text-align: center;
  color: #555;
  font-size: 14px;
}

